<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <!-- css link -->
<link rel="stylesheet" type="text/css" href="homeView.css" />
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
</head>
<body>

{{{body}}}

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script type="text/javascript" src="./js/login.js"></script>
  <script src="/js/google-map-places-api.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmytpwQ4urhmqmCOUSSMyJwogoAdgQrDM&libraries=places&callback=initAutocomplete&radius=8000"
       async defer></script>
  <script src="/js/google-map-generate-results.js"></script>
</body>
</html>
